.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9e9e9;
  }
  
  .login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  
  .login-form .login-title {
    margin-bottom: 20px;
  }
  
  .login-form div {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: calc(100% - 50px);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5a5af1;
    color: white;
    cursor: pointer;
  }
  
  .login-form p {
    margin-top: 15px;
  }
  
  .login-form p a {
    color: #5a5af1;
    text-decoration: none;
  }
  