/* calendar.css */
.calendar {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 1400px;
  margin: 10px auto; 
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
}

.year {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.month-select {
  padding: 4px;
  font-size: 20px;
}

.calendar-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5px;
}

.week-day {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  color: #555;
  background-color: #f0f0f0;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #bbb;
  width: calc(100% / 7);
  min-height: 60px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.date {
  font-weight: bold;
  margin-bottom: 3px;
}

.event {
  font-size: 18px;
  color: #2e2e2e;
}

.empty-day {
  border: none;
  width: calc(100% / 7);
  min-height: 60px; 
}